@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather__app {
    min-width: 390px;
    background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%);
    min-height: 800px;
    border-radius: 40px;
    position: relative;
}

.weather__now {
    height: 150px;
    margin: 100px 0;
}

.weather__icon {}

.weather__temp {
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 50px;
}

input {
    color: #ffff;
    width: 107px;
    outline: 0;
    border: none;
    padding: 5px;
    /* border: none; */
    /* font-size: 10px; */
    /* width: 60px; */
    background-color: transparent;
    font-size: 20px;
}

.btn {
    padding: 5px;
    width: 50px;
    margin-top: 3px;
    font-size: 15px;
    padding: 5px;
    background-color: green;
    outline: 0;
    border-radius: 28% 72% 62% 38% / 30% 31% 69% 70%;
    border: none;
    color: #ffff;
}

.weather__forecast {
    color: #fff;
}

.today {
    margin-bottom: 15px;
    text-align: left;
    padding-left: 40px;
}


/* display grid */

.forecast__grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    /* grid-template-rows: min-content 1fr; */
    gap: 10px;
}

.dgrs {
    font-size: 30px;
    margin-bottom: 15px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather__icon {
    margin-bottom: 20px;
    background-image: url(/images/sun.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
